.fade {
  opacity: 0;
  @include vp-transition(opacity .15s linear);

  &.in {
    opacity: 1;
  }
}

.collapse {
  display: none;

  &.in {
    display: block;
  }
  // tr&.in    { display: table-row; }
  // tbody&.in { display: table-row-group; }
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  @include vp-transition-timing-function(ease);
  @include vp-transition-duration(.35s);
  @include vp-transition-property(height);
}
