$breakpoint: xs;
@include media-breakpoint-up($breakpoint) {
  .pull-#{$breakpoint}-left {
    @include pull-left();
  }
  .pull-#{$breakpoint}-right {
    @include pull-right();
  }
  .pull-#{$breakpoint}-none {
    float: none !important;
  }
}

$breakpoint: sm;
@include media-breakpoint-up($breakpoint) {
  .pull-#{$breakpoint}-left {
    @include pull-left();
  }
  .pull-#{$breakpoint}-right {
    @include pull-right();
  }
  .pull-#{$breakpoint}-none {
    float: none !important;
  }
}

$breakpoint: md;
@include media-breakpoint-up($breakpoint) {
  .pull-#{$breakpoint}-left {
    @include pull-left();
  }
  .pull-#{$breakpoint}-right {
    @include pull-right();
  }
  .pull-#{$breakpoint}-none {
    float: none !important;
  }
}

$breakpoint: lg;
@include media-breakpoint-up($breakpoint) {
  .pull-#{$breakpoint}-left {
    @include pull-left();
  }
  .pull-#{$breakpoint}-right {
    @include pull-right();
  }
  .pull-#{$breakpoint}-none {
    float: none !important;
  }
}

$breakpoint: xl;
@include media-breakpoint-up($breakpoint) {
  .pull-#{$breakpoint}-left {
    @include pull-left();
  }
  .pull-#{$breakpoint}-right {
    @include pull-right();
  }
  .pull-#{$breakpoint}-none {
    float: none !important;
  }
}




